version: '3.5'

server:
  build: .
  ports:
    - "5000:5000"
  volumns:
    - .:/code
  links:
    - mongo
  depends_on:
    - mongo

mongo:
  image: mongo:latest
  container_name: "mongodb"
  ports:
    - "54153:54153"